<h1><%= t('.list')%></h1>

<table>
  <tr>
    <th><%= t('.product')%></th>
    <th><%= t('.user')%></th>
    <th><%= t('.description')%></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><%= comment.product_id %></td>
    <td><%= comment.user_id %></td>
    <td><%= truncate(strip_tags(comment.description),
                 :length => 60) %></td>
    <td><%= link_to  t('.show'), comment %></td>
    <td><%= link_to  t('.edit'), edit_comment_path(comment) %></td>
    <td><%= link_to  t('.destroy'), comment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to  t('.new'), new_comment_path %>
<p><%= will_paginate @comments%></p>