<h1><%= t('.list')%></h1>

<p id="notic"><%= notice %></p>
<table>
  <tr>
    <th><%= t('.name')%></th>
    <th><%= t('.type')%></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <% if user.user_type == 1%>
  <tr>  	
    <td><%= user.name %></td>
    <td> <%= t('.administrator')%></td>
    <td><%= link_to t('.show'), user %></td>
    <td><%= link_to t('.edit'), edit_user_path(user) %></td>
    <td><%= link_to t('.destroy'), user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  <% end %>
<% end %>

<% @users.each do |user| %>
  <% if user.user_type == 2%>
  <tr>
    <td><%= user.name %></td>
    <td><%= t('.user')%></td>
    <td><%= link_to t('.show'), user %></td>
    <td><%= link_to t('.edit'), edit_user_path(user) %></td>
    <td><%= link_to t('.destroy'), user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  <% end %>    	
<% end %>
</table>

<br />

<%= link_to t('.new'), new_user_path %>
