<h1>Listing favourites</h1>

<% @favourites.each do |favourite| %>
  <% @product = Product.find(favourite.product_id)%>
  <div class="entry">
  	<%= image_tag(@product.image_url) %>
  	<h3><%= link_to  @product.title ,{:controller => "products" ,:action => "show" ,:id => @product},:style=>"text-decoration:none"%></h3>
  	<%= sanitize @product.description %>
  	<div class="price_line">
  		<table>
  			<tr>
  				<td><span class="price"><%= number_to_currency(@product.price) %></span></td>
  				<td><% if @product.inventory != 0%>
  						<%= button_to 'Add to Cart' , line_items_path(:product_id => @product),
  								:remote => true %>  
   					<%end%>	</td>  				
  				<td>
  					<%= button_to 'Destroy', favourite, :confirm => 'Are you sure?', :method => :delete %></td>
  			</tr>
  		</table>
    </div>
  </div>
<% end %>
   
<br />
<p><%= will_paginate @favourites%></p>
<%= link_to 'back', store_path%>
