<h1><%= t('.list')%></h1>

<table>
  <tr>
  	<th><%= t('.user_name')%></th>
    <th><%= t('.order_name')%></th>
    <th><%= t('.address')%></th>
    <th><%= t('.order')%></th>
    <th><%= t('.paytype')%></th>
    <th><%= t('.order_status')%></th>
    <th></th>
    <th></th>   
  </tr>
<% if @orders %>
<% @orders.each do |order| %> 
  <tr>
  	<td><%= order.user_name%></td>
    <td><%= order.name %></td>
    <td><%= order.address %></td>
    <td><%= order.email %></td>
    <td><%= order.pay_type %></td>
    <td><% if order.orderstatus == 0%>
    		<%= t('.unsent')%>
    	<% elsif order.orderstatus == 1 %>
    		<%= t('.sent')%>
    	<% elsif order.orderstatus == 2 %>
    	    <%= t('.cancel')%>
    	<% end %>
    </td>
    <td><%= link_to t('.show'), order %></td>
   <!--  <td><%= link_to 'Edit', edit_order_path(order) %></td> -->
    <td><%= link_to t('.destroy'), {:controller => "orders",:action => "destroyOneOrder",:id =>  order} %></td>
  </tr>
<% end %>

</table>

<br />

<p><%= will_paginate @orders %></p>
<%end%>
